@import "../../../variables.scss";
mat-card-actions{
    display: inline !important;
}
mat-card-actions div{
    float: right;
}
mat-card-content{
    padding: 10px 16px 0px 16px;
}
main{
    width: 75%;
    display: inline-block;
}
section{
    width: 25%;
    display: inline-block;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}
.close{
    position: absolute;
    right: 20px;
    top: 20px;
    color: black;
    cursor: pointer;
}
.stock-title{
    font-weight: bold;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $base-color;
}