/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(215, 223, 235);
  margin-top: 0;
}
.mat-success {
  color: rgb(127, 191, 127);
}
.trending-icon{
  transform: scale(4);
}